@* // ==============================================================================
// Filename: Index.cshtml
//
// Author: Robert Howell
// Date: 1/17/2025
// Edited: 6/22/2026
// Version: 1.0
//
// Description: This is the site's index page.
//
//
// ==============================================================================
 *@

@page "/"

@{
    ViewData["Title"] = "Index";
}
<section class="container">
    <p>Use a link above in order to access the database data.</p>
</section>
