@* // ==============================================================================
// Filename: Index.cshtml
//
// Author: Robert Howell
/// Date: 1/17/2025
// Version: 1.0
//
// Description: This is the site's index page.
//
//
// ==============================================================================
 *@
@page "/"

@{
    ViewData["Title"] = "Index";
}
<section class="container">
    <PageTitle>Index</PageTitle>
    <p>Use a link above in order to access the database data.</p>
    <ApodDisp></ApodDisp>
</section>

@functions {

}