@* // ==============================================================================
// Filename: Privacy.cshtml
//
// Author: Robert Howell
// Date: 7/21/2024
// Edited: 6/22/2026
// Version: 1.0
//
// Description: This is the site's privacy page.
//
//
// ==============================================================================
 *@

@page
@model SpaceFlight_News_App.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="container">
    <h1>@ViewData["Title"]</h1>

    <p>This website is owned, operated, and developed by Robert Howell. It is a developer showcase simulating a production environment and tests web development methods. Data that is collected from the application is anonymous and no PII is collected.</p>
    <p>Third-party applications do not have access to the site's data.<br />Effective <time datetime="2024-07-21">7/21/2024</time></p>
</section>