@* // ==============================================================================
// Filename: Milestones.cshtml
//
// Author: Robert Howell
// Date: 7/28/2024
// Edited: 6/22/2026
// Version: 1.0
//
// Description: This is the site's Milestones page in pages directory.
//
//
// ==============================================================================
 *@

@page "/pages/milestones"
@{
#if DEBUG
}
@model SpaceFlight_News_App.Pages.Pages.MilestonesModel

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-link nav-item">
                    <a class="navbar-brand" href="/pages/history">History</a>
                </li>
                <li class="nav-link nav-item">
                    <a class="navbar-brand" href="/pages/milestones">Milestones</a>
                </li>
                <li class="nav-link nav-item">
                    <a class="navbar-brand" href="/pages/iss-science">ISS Science</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<p>This page is Milestones</p>
@{
}
@{
#endif
}